[submodule "vim/pack/vendor/start/ack.vim"]
	path = vim/pack/vendor/start/ack.vim
	url = https://github.com/mileszs/ack.vim
	shallow = true
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	shallow = true
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
	shallow = true
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
	shallow = true
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
	shallow = true
[submodule "oh-my-zsh/custom/plugins/autojump"]
	path = oh-my-zsh/custom/plugins/autojump
	url = https://github.com/wting/autojump.git
	shallow = true
[submodule "oh-my-zsh/custom/plugins/zsh-completions"]
	path = oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
	shallow = true
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	shallow = true
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	shallow = true
[submodule "oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	shallow = true
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	shallow = true
[submodule "oh-my-zsh/custom/plugins/zsh-git-prompt"]
	path = oh-my-zsh/custom/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
	shallow = true
